{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4"
     xmlns="http://www.w3.org/1999/html">
    <div class="d-block mb-4 mb-md-0">
        <h2 class="h2">Collections</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-8">
        <form action="/dashboard/collections" method="post">
            <div class="card card-body border-0 shadow mb-4 mb-xl-0">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <button class="btn btn-tertiary" type="submit" name="action" value="create_list">Create</button>
                    {{ form.hidden_tag() }}
                    {{ form.name(value="", placeholder="List Name", class="form-control") }}
                </div>
                <br/>
                <ul class="list-group list-group-flush">

                    {% for list in favorite_lists %}

                    <li class="list-group-item d-flex align-items-center justify-content-between px-0 border-bottom">
                        <div>
                            <h3 class="h6 mb-1">{{ list.name }}</h3>
                        </div>
                        <div>
                            <a href="/dashboard/favorite-list/{{ list.id }}">
                                <button class="btn btn-secondary" type="button">Show</button>
                            </a>
                            <button class="btn btn-tertiary" type="submit" name="action"
                                    value="edit_list_{{ list.id }}">Save
                            </button>
                            <button class="btn btn-danger" type="submit" name="action"
                                    value="delete_list_{{ list.id }}">Delete
                            </button>
                        </div>
                    </li>

                    {% endfor %}

                </ul>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
